#Data camp notes

In [3]:
# Iterating on a csv file on chunk size

# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file,chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', 10,'lang')

# Print result_counts
print(result_counts)

NameError: name 'pd' is not defined

In [4]:
#Creating a Matrix with a nested comprehension

# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(0,5)] for row in range(0,5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [5]:
#IF and IF-ELSE List comprehensions
#IF
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member for member in fellowship if len(member) >= 7]
type(new_fellowship)
# Print the new list
print(new_fellowship)

---
#IF-ELSE
for member in fellowship

SyntaxError: invalid syntax (<ipython-input-5-fb8a61daad28>, line 12)

In [6]:
# Define plot_pop()
def plot_pop(filename, country_code):

    # Initialize reader object: urb_pop_reader
    urb_pop_reader = pd.read_csv(filename, chunksize=1000)

    # Initialize empty DataFrame: data
    data = pd.DataFrame()
    
    # Iterate over each DataFrame chunk
    for df_urb_pop in urb_pop_reader:
        # Check out specific country: df_pop_ceb
        df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == country_code]

        # Zip DataFrame columns of interest: pops
        pops = zip(df_pop_ceb['Total Population'],
                    df_pop_ceb['Urban population (% of total)'])

        # Turn zip object into list: pops_list
        pops_list = list(pops)

        # Use list comprehension to create new DataFrame column 'Total Urban Population'
        df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1]) for tup in pops_list]
    
        # Append DataFrame chunk to data: data
        data = data.append(df_pop_ceb)

    # Plot urban population data
    data.plot(kind='scatter', x='Year', y='Total Urban Population')
    plt.show()

# Set the filename: fn
fn = 'ind_pop_data.csv'

# Call plot_pop for country code 'CEB'
plot_pop(fn,'CEB')

# Call plot_pop for country code 'ARB'
plot_pop(fn,'ARB')

b

In [12]:
import pandas as pd

In [13]:
file = pd.read_csv('Country.csv',index_col=0)

In [14]:
file.head()

,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,NationalAccountsBaseYear,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
CountryCode,,,,,,,,,,,,,,,,,,,,,
AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,1980,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,NaN,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,2000,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

# Importing data

### Numpy

In [ ]:
#loading text using numpy arrays

import numpy as np
# Assign the filename: file
file = 'digits_header.txt'

# Load the data: data
# Delimiter can be set to ',' or '\t' for tab
# skiprows=1 to skip headers and avoid type conversions or error
# usecols takes a list of the columns to be imported
data = np.loadtxt(____, delimiter=____, skiprows=____, usecols=____)

# Importing data with multiple data types
# names = True means there are headers
# Python will create 1D arrays to handle the one data type rule
data = np.genfromtxt('titanic.csv', delimiter=',', names=True,dtype=None)

# np.recfromcvs() is similar and saves time thanks to the
#... defaults delimiter=',' and names=True in addition to dtype=None

### Pandas

In [ ]:
# Pandas is python's response to R and can handle observations and variables well
# sep is the equivalent of delimiter
# comment specifies how comments start in the file
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

### Reading the working directory

In [ ]:
! ls

# The os package can also be used

import os
wd = os.getcwd()
os.listdir(wd)

### Relational databases using Pandas

In [ ]:
# SQL Alchemy allows SQL queries, combined with pandas they can be transformed in dataframes

from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# The connectin can be opened 'with' as shown below or con = engine.connect()
with engine.connect() as con:
    # Perform query: rs
    rs = con.execute('SELECT LastName, Title from Employee')
    # Save results of the query to DataFrame: df
    df = pd.DataFrame(rs.fetchmany(size=5))
    # Set keys to columns in the df
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

# A shorter way to get the same results is to use athe read_sql_query method in pandas
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

In [1]:
! ls

Data Camp Notes.ipynb                  README.md
EnglishAnagrams.ipynb                  SKM_C65817110910150.pdf
Ignaz Semmelweis.ipynb                 Vail Object Mover PACA110917.xlsx
Lists and dictionaries exercises.ipynb training_problems.ipynb
NumPy.ipynb